@mixin defaultFont ($fs, $lh, $fw, $color) {
    color: $color;
    font-family: montserrat, sans-serif;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    margin-top: 0;
    margin-bottom: 0;
}
@mixin linkDecor {
    text-decoration: none;
    text-transform: uppercase;
}
@mixin colorGradient {
    background: linear-gradient(118.16deg, rgb(240, 20, 90),rgb(239, 128, 128));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@mixin shadow ($color, $l, $r) {
    background-color: $color;
    height: 10px;
    border-radius: 0 0 12px 12px;
    position: absolute;
    left: $l;
    right: $r;
}